MNEMONIC=YOUR DATA
STRIPE_API_KEY=YOUR DATA

PINATA_API_KEY=YOUR DATA
PINATA_API_SECRET=YOUR DATA
PINATA_API_JWT=YOUR DATA

API_KEY=YOUR DATA

PRIVATE_KEY=YOUR DATA

AWS_ACCESS_KEY_ID=YOUR DATA
AWS_SECRET_ACCESS_KEY=YOUR DATA
